<html>
    <body>
        <form method = "POST" action = "/createBlog">
            <input type= "text" name="blog_heading" placeholder="Heading">
            <input type= "text" rows="5" name="blog" placeholder="Enter Blog">
            <button>Create Blog</button>
            
        </form>
    <body>
</html>