<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/signup.css" /> 
        <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    </head>
    
    
    <div class = "grid-conainer">
        <div class = "item1"></div>

        <div class = "item2">
            <body>
                <div class = "item2_0"> SIGN UP </div>
                
                <form method = "POST" action = "/signup">
                    <input class= "item2_1" required type="text" name="name" placeholder="name"></textarea>
                    <input class= "item2_2" required type = "email" name="email" placeholder="email"></textarea>
                    <input class= "item2_3" required type="password" name="password" placeholder="pass"></textarea>
                    <button class= "item2_4">Sign Up</button>
                </form>
            </body>
        </div>

        <div class = "item3"></div>

    </div>
</html>